/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.live_item{
    width: 70%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "Roboto", sans-serif;
    color: #000;
    padding: 18px 24px 14px;
    border-top: 3px solid #e5e5e5;
    .bolder_text{
        font-size: 3.3em;
        line-height: 0.5;
    }
    .regular_text{
        font-size: 1.8em;
        font-weight: 400;
        color: #333;
    }
    .button_wrapper{
        padding: 10px;
        background-color: #e60000;
        color: #fff;
        width: 150px;
        font-size: 1.3em;
    }
}


@media screen and (max-width: 1366px) {
    .live_item {
        width: 91%;
        .bolder_text {
            font-size: 2.3em;
        }
        .regular_text {
            font-size: 1.3em
        }
        .button_wrapper {
            padding: 8px;
            width: 132px;
            font-size: 1.1em;
        }
    }
}

@media screen and (max-width:769px){
    .live_item {
        width: 57%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 13px;
        padding: 15px 24px 19px;
    }
}

@media screen and (max-width:426px){
    .live_item {
        width: 57%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 9px;
        padding: 16px 12px 19px;
        .bolder_text {
            font-size: 1.8em;
        }
        .regular_text {
            font-size: 1.1em;
        }
        .button_wrapper {
            padding: 8px;
            width: 127px;
            font-size: 0.9em;
        }
    }
}