.music_wrapper{
    .info_wrapper{
        width: 90%;
        text-align: left;
        align-items: flex-start;
        .left_part{

        }
        .right_part{
            width: 70%;
            .album_name{
                font-size: 2.5em;
                font-family: cursive;
                border-bottom: 2px solid #e5d5d5d5;
                margin-bottom: 55px;
            }
            .album_quote{
                background-color: #d3d3d3;
                padding: 30px;
                margin-top: 20px;
                font-size: 1.53em;
                font-style: italic;
                font-family: cursive;
                margin-bottom: 40px;
            }
            .album_info{
                font-family: 300;
                padding-top: 20px;
                font-size: 1.33em;
                font-family: cursive;
                margin-bottom: 20px;
            }
        }
    }
}

