// Navigation styles
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
}

.navigation_list{
  display:flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  .navigation_item{
      font-family: 'Roboto', sans-serif;
      font-size:18px;
      color: #000;
      padding:10px;
      margin:8px;
      position:relative;
      text-align: center;
      display: flex;
      transition: all 1.5s ease;
      z-index: 3;
       &:hover{
          transition: all .8s ease;
          transform: translateY(13px);
          border-bottom: 1px solid rgba(44, 64, 88, 0.3411764706);
      }
      .navigation_item_link{
          color:inherit;
      }
  }

  @media screen and (max-width: 768px) {
    display: block;

    .navigation_item {
      display: block;
    }
    .navigation_item_link {
      text-align: center;
      display: block;
    }

  }
}

//Media 

@media screen and (min-width:426px){
  .first_wrapper{
   .hamburger--emphatic{
       display:none;
   }
  }
}


@media screen and (max-width:425px){
  .hamburger--emphatic{
      .hamburger-box{
          
      z-index:3;
      }
      .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
          background-color: #2a3a66;
      }
  }

  .side-block {
      position: fixed;
      background-color: #22223c;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      max-width: 300px;
      flex-direction: column;
      z-index: 1;
      align-items: center;
      justify-content: center;
      padding: 20px;
      box-sizing: border-box;
      transition: all .5s ease;
      transform: translateX(100%);

      &.open {
          transform: translateX(0%);
      }
  }
}

//hamburger styles

$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #000 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;


$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;
// Hamburger
// ==================================================
.hamburger {
padding: $hamburger-padding-y $hamburger-padding-x;
display: inline-block;
cursor: pointer;

transition-property: opacity, filter;
transition-duration: 0.15s;
transition-timing-function: linear;
position: absolute;
top: 35px;
right: 0;
z-index: 100;


font: inherit;
color: inherit;
text-transform: none;
background-color: transparent;
border: 0;
margin: 0;
overflow: visible;

&:hover {
  @if $hamburger-hover-use-filter == true {
    filter: $hamburger-hover-filter;
  }
  @else {
    opacity: $hamburger-hover-opacity;
  }
}

&.is-active {
  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-active-hover-filter;
    }
    @else {
      opacity: $hamburger-active-hover-opacity;
    }
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $hamburger-active-layer-color;
  }
}
}

.hamburger-box {
width: $hamburger-layer-width;
height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
display: inline-block;
position: relative;
z-index:3
}

.hamburger-inner {
display: block;
top: 50%;
margin-top: ($hamburger-layer-height / 2);

&,
&::before,
&::after {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height;
  background-color: $hamburger-layer-color;
  border-radius: $hamburger-layer-border-radius;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

&::before,
&::after {
  content: "";
  display: block;
}

&::before {
  top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
}

&::after {
  bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
}
}

/*
 * Emphatic
 */
 .hamburger--emphatic {
  overflow: hidden;

  .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in;

    &::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                  top 0.05s 0.125s linear,
                  left 0.125s 0.175s ease-in;
    }

    &::after {
      top: ($hamburger-layer-height) + ($hamburger-layer-spacing);
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                  top 0.05s 0.125s linear,
                  right 0.125s 0.175s ease-in;
    }
  }

  &.is-active {
    .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent !important;

      &::before {
        left: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d($hamburger-layer-width * 2, $hamburger-layer-width * 2, 0) rotate(45deg);
        transition: left 0.125s ease-out,
                    top 0.05s 0.125s linear,
                    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &::after {
        right: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d($hamburger-layer-width * -2, $hamburger-layer-width * 2, 0) rotate(-45deg);
        transition: right 0.125s ease-out,
                    top 0.05s 0.125s linear,
                    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

@media screen and (min-width:769px){
  .hamburger-box{
    display: none;
  }
}
.navigation_wrapper {
  @media screen and (max-width: 768px) {
    padding-top: 150px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    background-color: #f9f9f9;
    z-index: 100;
    transform: translateX(100%);
    transition: all .3s ease;
  }
  &.open{
    transform: none;
  }
}