ul{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}

.navigation_list{
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    .navigation_item{
        font-family: 'Roboto', sans-serif;
        font-size:18px;
        color: #000;
        padding:10px;
        position:relative;
        text-align: center;
        display: flex;
        transition: all 1.5s ease;
        z-index: 3;
         &:hover{
            transition: all .8s ease;
            transform: translateY(13px);
            border-bottom: 1px solid rgba(44, 64, 88, 0.3411764706);
        }
        .navigation_item_link{
            color:inherit;
        }
    }
}