/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.catalog_item{
    width:24%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -.1px;
    line-height: 1.2em;
    margin-bottom:25px;
    &:hover{
        cursor:pointer;
    }
    .list_item_image{
        max-height:290px;
        border:1px solid #bababe;
        -webkit-transition: .3s .1s ease;
        -o-transition: .3s .1s ease;
        transition: .3s .1s ease;
        margin-bottom:8px;
        &:hover{
            -webkit-transform: scale(1.03);
                -ms-transform: scale(1.03);
                    transform: scale(1.03);
            -webkit-transition: .3s .1s ease;
            -o-transition: .3s .1s ease;
            transition: .3s .1s ease;
        }
    }
    .list_item_name{
        color: #dc211f;
        &:hover{
            color:#000;
        }
    }
    .list_item_format{
        color: #9c9c9c;
        line-height: 1.4;
    }
    .list_item_status{
        font-size: .8em;
        color: #666;
    }
    .catalog_wrapper {
        position: relative;
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .show_modal_button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            display: inline-block;
            padding: 8px 7px;
            background-image: -webkit-gradient(linear, left top, right top, from(#7891d9), to(#cdbaba));
            background-image: -o-linear-gradient(left, #7891d9, #cdbaba);
            background-image: linear-gradient(to right, #7891d9, #cdbaba);
            border-radius: 8px;
            color: #FFF;
            font-size: 13px;
            font-weight: 700;
            -webkit-box-shadow: 3px 3px rgb(0 0 0 / 40%);
                    box-shadow: 3px 3px rgb(0 0 0 / 40%);
            -webkit-transition: 0.4s ease-out;
            -o-transition: 0.4s ease-out;
            transition: 0.4s ease-out;
        &:hover {
            -webkit-box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
                    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
        }
    }
    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .modal {
        cursor: initial;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 99;
        
        width: 100%;
        max-width: 1200px;
        background-color: #FFF;
        border-radius: 16px;
        
        padding: 25px;
        .list_item_name{
            margin:20px;
            font-size:20px;
        }
        .more_info_wrapper{
            .left_part{
                width:25%;
                .main_info_wrapper{
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    -webkit-box-orient:vertical;
                    -webkit-box-direction:normal;
                        -ms-flex-direction:column;
                            flex-direction:column;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    .main_info_item_wrapper{
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                                flex-direction: row;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    }
                    .info_text{
                        margin-bottom: 10px;
                    }
                }
            }
            .right_data{
                width:50%;
                .list_item_info{
                }
            }
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
    .slide-enter-active,
    .slide-leave-active {
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
    }
    .slide-enter,
    .slide-leave-to {
        -webkit-transform: translateY(-50%) translateX(100vw);
            -ms-transform: translateY(-50%) translateX(100vw);
                transform: translateY(-50%) translateX(100vw);
    }
}

@media screen and ( max-width: 1025px){
    .catalog_item{
        width:50%;
        .modal{
        width: 700px;
        height: 500px;
        overflow: scroll;
            .more_info_wrapper{
                .left_part {
                    width: 42%;
                    -webkit-box-align: start;
                        -ms-flex-align: start;
                            align-items: flex-start;
                }
                .right_data {
                    width: 32%;
                }
            }
        }
    }
}

@media screen and (max-width:769px){
    
   .catalog_item{
    .modal{
        width:300px;
        height:500px;
        overflow: scroll;
        .more_info_wrapper{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            .left_part{
                width:100%;
                .list_item_image {
                    max-height: 240px;
                    border: 1px solid #bababe;
                    -webkit-transition: 0.3s 0.1s ease;
                    -o-transition: 0.3s 0.1s ease;
                    transition: 0.3s 0.1s ease;
                    margin-bottom: 33px;
                }
                .main_info_wrapper{
                    margin-bottom: 20px;
                }
                
            }
            .right_data{
                width:100%;
                margin-bottom: 20px;
            }	
        }
    }
   }
}

@media screen and (max-width: 425px){
    .catalog_item{
        width:90%;
        margin-bottom: 70px;
        .list_item_image{
            max-height: 235px;
        }
        .list_item_name{
            font-size: 18px;
        }
        .show_modal_button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            display: inline-block;
            padding: 7px 7px;
            background-image: -webkit-gradient(linear, left top, right top, from(#7891d9), to(#cdbaba));
            background-image: -o-linear-gradient(left, #7891d9, #cdbaba);
            background-image: linear-gradient(to right, #7891d9, #cdbaba);
            border-radius: 8px;
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            -webkit-box-shadow: 3px 3px rgb(0 0 0 / 40%);
                    box-shadow: 3px 3px rgb(0 0 0 / 40%);
            -webkit-transition: 0.4s ease-out;
            -o-transition: 0.4s ease-out;
            transition: 0.4s ease-out;
        }
    }
}